
/* principales */
.curso{

}
.inscripciones{
	background:green;
}
.llamado{
	/*color:pink;*/
}
.inician{

}
.cierre{

}
.receso{
	color:gray;
}
.concluyen{

}
.asueto{
	color:red;
}

/* 2d */
.universitario{

}
.finales{
		background: gray;
}
.cursadas{
	color:green;
}
.actas{

}
.invernal{

}
.actividades{

}
.